[submodule "shared/openvr"]
	path = shared/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "shared/libigl"]
	path = shared/libigl
	url = https://github.com/psarahdactyl/libigl-vr-viewer-version.git
